.App {
  text-align: center;
}

.header {
  display: flex;
  flex-direction: row;
  position: sticky;
  justify-content: space-between;
  padding-left: "2%";
  padding-right: "2%";
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
